#maven
*/target/
*/target-test/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.settings/
*.classpath
*.project
.MF
*.checkstyle
src/main/webapp/WEB-INF/work/
src/main/webapp/WEB-INF/temp/
#java
*.class
*.jar
*.war
*.ear

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

.metadata/
generatorSqlmapCustom/

letus-manager/letus-manager-web/target/*
letus-manager/letus-manager-service/target/*
letus-manager/letus-manager-mapper/target/*
letus-manager/letus-manager-pojo/target/*
letus-manager/letus-manager-service/target/*
letus-portal/src/test/*
letus-rest/src/test/*
letus-manager/letus-manager-web/target/classes/spring/applicationContext-dao.xml

